<main>
 <div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <%=render'users/userinfo',user: @user%>
    <%=render'newbook',book: @book%>
   </div>
   <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
    <table>
     <thead>
      <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
       <th colspan="3"></th>
      </tr>
     </thead>

     <%@books.each do |book|%>
     <tbody>
      <tr>
       <tb><%=image_tag book.user.get_profile_image(80,80)%><br>
       <%=link_to user_path(book.id) do %>
       <%=book.user.name%>
       <% end %></tb>
       <%=link_to book_path(book.id) do %>
       <tb><%=book.title%></tb>
       <% end %>
       <tb><%=book.body%></tb>
      </tr>
     </tbody>
     <% end %>
    </table>
   </div>
  </div>
 </div>
</main>